*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 60px;
}

li{
    margin-top: 50px;
}

#site_main{
    .container{
        width: 1200px;
        margin: auto;

        .row{
            display: flex;
            flex-wrap: wrap;

            .col{
                width: calc(100% / 4);

                .lingua{
                    width: 30px;

                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}